:root {
	/* ------- colors ------- */
	--primary-colour: #acacb4;
	--secondary-colour: #65656d;
	--tertiary-colour: #acacb4;
	--quaternary-colour: #e4e4e7;
	--link-colour: #14b8a6;
	--hover-colour: #fafafa11;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}